<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>belajar ajax</title>
	<link rel="stylesheet" href="styles/pendekar.css">
</head>
<body>
	<h1>Belajar Ajax</h1>
	<ul id="orders">
	</ul>

	<template id="order-template">

		<li data-id='{{id}}'> 
			<p>
				<strong>Name :</strong> 
				<span class="noedit name">{{name}}</span>
				<input class="edit name"> 
			</p>  
			<p>
				<strong> Umur :</strong> 
				<span class="noedit age">{{age}}</span>
				<input class="edit age"> 
			</p>   
			<button class='hapus' data-id='{{id}}' > Hapus </button> 
			<button class="editOrder noedit" > Edit </button> 
			<button class="saveEdit edit" > Save </button>
			<button class="cancelEdit edit" > Cencel </button>  
		</li>
	</template>

	<p>name : <input type="text" id="name"></p>
	<p>Umur : <input type="text" id="age"></p>
	<button id="add-data">Add</button>

	<script src="node_modules/mustache/mustache.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/main.js"></script>

</body>
</html>